/*these are utility classes we can link them with any file whenever we need them*/
.border
{
    border:2px solid red;
    margin: 3px;
}
.flex
{
    display: flex;
}
.justify-content
{
    justify-content: center;
}
.items-center
{
    align-items: center;
}
.bg-black
{
    background-color: black;
    color: white;
}
.invert
{
    filter: invert(1);
}
.bg-grey
{
    background-color: #121212;
}
.rounded
{
    border-radius: 7px;
}
.m-1
{
    margin: 5px;
}
.p-1
{
    padding: 10px;
}
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Background color of the scrollbar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color of the scrollbar handle on hover */
  }
  